# dependencies
/node_modules

# build output
/build
/dist

# testing
/coverage
/test-results/
/playwright-report/
/playwright/.cache/

# environment
.env
.env.local
.env.*.local

# misc
.DS_Store
npm-debug.log*
font_download/
.vercel
yarn-error.log
